/* ----------------footer container start---------------- */
pfooter {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color:white;
    line-height: 28px;
}

.footer-style {
    padding: 0px 20px 30px 30px;
	text-align: center;
}

.pfooter-style {
  margin-top: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  justify-content: center;}

.pfooter-style p {
    font-family: 'Nunito', sans-serif;
  	text-align: center;
    color: #fff;
    font-size: 14px;
    padding-top: 15px;
}

   .animate-border {
  position: relative;
  display: block;
  width: 145px;
  height: 3px;
  background: #dd7146; }

.animate-border:after {
  animation-direction: alternate;
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 5s linear infinite;
  animation: animborder 5s linear infinite;
}

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

.colmd {
  min-width: 20vw;
}

.dk-footer {
  padding: 30px 0 0;
  background-color: #151414;
  position: relative;
  z-index: 2; }
.dk-footer-img {
  max-width: 300px;
  /* max-width: 150px;
  max-height: 150px; */
  padding: 30px 0px 10px 0px;
}
  .dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 20px; }
    .dk-footer .contact-us .contact-info {
      margin-left: 30px; }
    .dk-footer .contact-us.contact-us-last {
      margin-left: -40px; }
  .dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color:#007bff; }

.dk-footer-box-info {
  text-align: center;
  position: absolute;
  top: -122px;
  background: #202020;
  padding: 20px;
  z-index: 2; }
  .dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px; }
  .dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .dk-footer-box-info .footer-social-link li {
    display: inline-block; }
  .dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff; }
    .dk-footer-box-info .footer-social-link a i.fa-facebook {
      background-color: #3B5998; }
    .dk-footer-box-info .footer-social-link a i.fa-twitter {
      background-color: #55ACEE; }
    .dk-footer-box-info .footer-social-link a i.fa-google-plus {
      background-color: #DD4B39; }
    .dk-footer-box-info .footer-social-link a i.fa-linkedin {
      background-color: #0976B4; }
    .dk-footer-box-info .footer-social-link a i.fa-instagram {
      background-color: #B7242A; }

.footer-awarad {
  margin-top: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px; }

.footer-info-text {
  margin: 26px 0 32px; }

.footer-left-widget {
  padding-left: 20px; }

.footer-widget .section-heading {
  margin-bottom: 5px; }

.footer-widget h3 {
  font-size: 24px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content; }

.footer-widget ul {
  width: 90%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-widget li {
  margin-bottom: 3px; }

.footer-widget p {
  margin-bottom: 27px; }

.footer-widget a {
  color: #878787;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .footer-widget a:hover {
    color: #007bff; }

.footer-widget:after {
  content: "";
  display: block;
  clear: both; }

.dk-footer-form {
  position: relative; }
  .dk-footer-form input[type=email] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #007bff;
    background: #007bff;
    color: #fff; }
  .dk-footer-form button:hover {
    cursor: pointer; }

/* Contacts */
.contact-us1 {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contact-icon1 {
  position: absolute; }
  .contact-icon1 i {
    margin-left: 15px;

    font-size: 36px;
    top: -5px;
    position: relative;
    color: #dd7146;
}

.contact-info1 {
  margin-left: 60px;
  color: #fff; }

.contact-info1 h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 2;
    margin-left: 20px;}
.contact-info1 p {
    font-size: 20px;
    color: #fff;
    margin-bottom: 2;
    margin-left: 20px;}

.copyright {
  padding: 28px 0;
  margin-top: 55px;
  background-color: #202020; }
  .copyright span,
  .copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .copyright a:hover {
    color:#007bff; }

.copyright-menu ul {
  text-align: right;
  margin: 0; }

.copyright-menu li {
  display: inline-block;
  padding-left: 10px; }

.back-to-top {
  position: relative;
  z-index: 2; }
  .back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .back-to-top .btn-dark:hover {
      cursor: pointer;
      background: #FA6742;
      border-color: #FA6742; }

.r1 {display:-ms-flexbox;
  display:flex;
  flex: initial;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-right:0px;
  margin-left:-15px}
/* ----------------footer container end---------------- */

@media only screen and (max-width: 1000px) and (min-width: 300px) , screen and (max-device-width:300px) {
  .container-header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #dd7146; /* header background */
    white-space: nowrap;
    max-height: 70px;
    min-height: 20%;
    align-items : center;
    justify-content: center;
  }
  .container-header img{
    max-height: 50px;
    min-height: 10%;
  }
  .header-navbar {
    min-height: 100%;
  }
  .container-body {
    min-height: 100%;
  }
  .header-navbar a {
    float: left;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 14px;
  }
  .link {
    background: #212529;
    border: none;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    color: white;
    font-family: "Georgia";
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
  .dropdown.active > .link 
   .link:hover {
      background-color: #ddd;
      color: black;
      font-size: 14px;
      padding: 10px 16px;
      font-weight: bold;
      border-color: #ddd;
      border: none;
  }
  .dropdown.active > .link, .link:hover {
    background-color: #ddd;
    color: black;
    font-size: 14px;
    padding: 10px 16px;
    font-weight: bold;
    border-color: #ddd;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    left: 0;
    top: calc( 100% );
    background-color: #212529;
    padding: .1rem;
    border-radius: .25rem;
    box-shadow: 0, 2px, 5px, 0 rgba( 0, 0, 0, .5);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    max-width: 10px;
  }
  
  .dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
  }
  
  .information-grid {
    display: grid;
  }
  
  .dropdown-links {
    display: flex;
    flex-direction: column;
  }
  }
}