/* ----------------navigation bar classes start---------------- */
/* Add a black background color to the top navigation */

/*testing*/
.header-navbar {
  background-color: #212529;
  max-width: 100%;
  transition: all .2s linear;
}
.header-navbar li{
  background: transparent;
  padding: 4px 16px !important;
  text-decoration: none;
  font-family: "Georgia";
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  border: none;
  text-transform:capitalize;
  font-variant:small-caps;
  font-weight:bold;
}
.header-navbar a{
  color: #ffffff;
  text-decoration: none;
  text-transform:capitalize;
  font-variant:small-caps;
  font-weight:bold;
}
.header-navbar li:hover>a {
  color: #212529;
  align-items: center;
}

/* older orange hover dd7146 **/
.header-navbar li:hover {
  color: #212529;
background-color: #6d42a1;
align-items: center;
}

.header-navbar ul{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0px;
  margin: 0px !important;
}


.nav-toggle {
  display: none;
  background: 0 0;
  color: inherit;
  border-style: dotted;
  border-color: transparent;
}

*, :after, :before {
  box-sizing: inherit;
}


.nav-menu-1>li{transition:all .2s}
.nav-menu-1>a{transition:all .2s}

.menu-item-1{position:relative}
.menu-item-1.focus>.sub-menu-1{right:auto;left:0}
.menu-item-1:hover>.sub-menu-1{right:auto;left:0}
.sub-menu-1.focus>.sub-menu-1{right:0;left:auto;}
.sub-menu-1:hover>.sub-menu-1{right:0;left:auto}
 
.sub-menu-1{background:#212529;left:-999em;position:absolute;border-width:0px;border-style:solid;}

.list-item ul{ transform: translateY(0px);display:table-cell;align-items: center;justify-content: center;}

.width {
  width: 100%;
}