body
    {
    padding: 0px;
    margin: 0px;
    } 

h1,h2 {
  text-transform: capitalize;
  font-variant: small-caps;
}

h1 {
  text-align: center;
}

.container-header {
    background-color: #212529;
    position: relative;
    max-width: 100%;

}

#header-img {
  max-width: 100%;
  opacity: 0.5;
  margin: auto;
  display: block;
  height: auto;
  width: 100%;
}

#loggo {
  padding: 1%;
  max-width: 75%;
  margin: auto;
  display: block;
  height: auto;
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-header h1 {
    color: white;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    font-family: "Georgia";
}

/* ----------------body container start----------------- */
.container-body {
    max-width: 100%;
    /* min-width: 720px; */
    /* padding: 30px; */
    background-color: #fff7eb; /* page background */
    /* align-items: center; */
    /* justify-content: begin; */
  }
  
  .cotainer-content {
    margin: auto;
    max-width: 95%;
    color: #000000;
    font-family: "Georgia";
    /* font-size: 1.2vw; */
    font-size: 16px;
    white-space: normal;
    text-align: justify;
    text-justify: auto;
    padding: 50px 0px 0px 0px;
  }

  .cotainer-content h3{
    font-size: 26px;

  }
  /* pbody p {
    margin: 0px 20%;
  }
  pbody h2 {
    margin: 0px 20%;
  } */
  /* ----------------body container end---------------- */
  /* ----------------hr line start---------------- */
  .hr-line {
    max-width: 90%;
    margin: 25px auto;
    text-align: center;
  }
  .hr-line .hr-text {
    font-size: 20px;
    position: relative;
    border: 0;
    height: 1.5em;
  }
  .hr-line .hr-text:before {
    content: "";
    background: linear-gradient(to right, transparent, #b2b2b2, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  .hr-line .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: gray;
    background-color: #fff7eb; /* postdoc background */
  }
  /* ----------------hr line end---------------- */
  

  .homepage {
    width: 70%;
    /*border: 1px solid red;*/
    overflow: auto;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f1dcd99d; /* member box background */
    padding: 20px;
  }


  /* ----------------members page start--------------- */
  .member {
    width: 70%;
    /*border: 1px solid red;*/
    overflow: auto;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
    background-color: #f1dcd99d; /* member box background */
    padding: 20px;
  }

  .member img {
    margin-right: 15px;
    float: left;
    width: 25%
  }
  
  .member h3,
  .member p{
    margin: 2px 0 0 0;
  }
  
  .member h3{
    display: inline; /* for Founder */
  }

  /* .member p{
    font-size: 16px;
  } */
  /* ----------------members page end--------------- */


/* ----------------publication page start--------------- */
/* ---Read more links-start */
/* b {
  color: #18272F;
  position: relative;
  text-decoration: none;
}

b::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

b:hover::before {
  transform-origin: left;
  transform: scaleX(1);
} */
/* ---Read more links-close */
.read{
  color: #007bff;
  position: relative;
  /* text-decoration: none; */
}
.read::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.read:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}


.more{
	display: none;
}

.post:not(:last-child){
	margin-bottom: 30px;
}
/* button{
	margin-top: 15px;
	display: block;
	background-color: #e41d3f;
	color: white;
	border:none;
	outline: none;
	padding: 8px 20px;
	cursor: pointer;
	font-size: 20px;
} */

/* .read-more-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.read-more-btn{
  color: #dd7146;
}

.read-more-text{
  display: none;
}

.read-more-text--show{
  display: inline;
} */

/* White dot for under altmeric */
.dot { 
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}
/* ------ row column ------- */
.flex-container {
  display: flex;
  justify-content: space-around;
}





.grid-table-1 {
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: auto;

}

.grid-table-2 {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;

}

.grid-table-3 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

.publication {
  width: 70%;
  /*border: 1px solid red;*/
  padding: 20px;
  overflow: auto;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
  background-color: #f1dcd99d; /* publication box background */
} 

.publication img {
  margin-right: 15px;
  float: left;
  /* width: 25% */
}

.publication h3{
  margin: 2px 0 10px 0;
}

/* .publication h3{
  font-size: 24px;
} */

/* ----------------publication page end--------------- */
/* ----------------Research collapsible start---------------- */
.research {
  width: 70%;
  /*border: 1px solid red;*/
  padding: 20px;
  overflow: auto;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
  background-color: #f1dcd99d; /* publication box background */
}
.research h2{
  margin: 0% 0% 1% 0%;
}

/* .collapsible { */
  /* background-color: rgb(132, 21, 112); */
  /* color: white; */
  /* cursor: pointer; */
  /* border: none; */
  /* text-align: left; */
  /* outline: none; */
  /* font-size: 15px; */
/* } */

.collapsible {
  width: 100%;
  padding: 2% 0px 2% 0px;
  /* padding: 0px; */
  /* overflow: auto; */
  margin: auto;
  /* box-shadow: 0 24px 8px 0 rgba(21, 218, 57, 0.2); */
  /* margin-bottom: 25px; */
  background-color: #6d42a1;
  color: white;
  text-align: left;
  border: none;

}


.active, .collapsible:hover {
  background-color: rgb(132 21 124 / 91%);
}

.content {
  padding: 0px 2%;
  /* padding: 0px; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #afada9;
}

.content p{
  margin: 20px 0px;
}

/* Plus Minus sign */
.collapsible:after {
  content: '\FF0B'; /* Unicode character for "plus" sign (+) */
  font-size: 20px;
  color: rgb(255, 255, 255);
  float: right;
  /* margin: 35px; */
  padding: 0px 2%;

}

.active:after {
  content: "\FF0D"; /* Unicode character for "minus" sign (-) */
}

.collapsible button-text {
  padding: 2%;
}
/* ----------------research collapsible end---------------- */